*{
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4efba;
}
.container{
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 40vh;
}
form{
    margin: 2rem 0 1rem 0;
}

form select, button, input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form input{
    border: 1px solid dark black;
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem;
}
.dropdown{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
}

.dropdown{
    font-size: 1.25rem;
    margin-top: 1 rem;
    /* display: flex; */
    /* justify-content: ; */
}

.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    border-radius: 0.5rem;
    border: 1px solid lightgrey;
}

.select-container{
    font-size: 1rem;
    width: auto;
}
.msg{
    margin-top:  3rem;
    display: flex;
    justify-items:initial;
    margin-left: 30px;
}

form button{
    height: 3rem;
    background-color: #af4d98;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 4rem;

}